.app-header {
  background: $teal;
  color: $white;
  @include standard-padding;

  svg {
    width: 150px;
    height: auto;
  }

  &__nav {
    display: none;

    @media screen and (min-width: $breakpoint-m) {
      display: block;
    }

    *+* {
      display: block;

      @media screen and (min-width: $breakpoint-m) {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }

  a {
    font-family: "Futura";
    font-weight: bold;
    text-decoration: none;
    color: $white;


    &:hover {
      color: darken($white, 10);

      svg path {
        fill: darken($white, 10)
      }
    }

    &:active,
    &:focus {
      background: $yellow;
      outline: 3px solid $yellow;
      color: $black;

      svg path {
        fill: $black;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (min-width: $breakpoint-m) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

}