.app-nav {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem 1rem;

  &__admin {
    margin-top: 1rem;
  }

  &__link {
    font-family: $h-stack;
    margin-top: 0rem;
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    color: $black;

    &:hover {
      color: lighten($black, 20);
    }

    &--active {
      color: $teal;

      &:hover {
        color: darken($teal, 2);
      }
    }

    &:focus,
    &:active {
      background: $yellow;
      outline: 3px solid $yellow;
      color: $black;
    }

    @media screen and (min-width: $breakpoint-m) {
      font-size: 1.2rem;
    }
  }

}