.application-box {
  border: 2px solid $teal;
  padding: 1rem;
  border-radius: $border-radius;
  @include mid-container;

  * {
    margin: 0;
  }

  &__headline {}

  &__deadline {}

  &__body {}

  &__completion-meter {}

  &__timeline {}
}