.field {
  * {
    margin: 0;
  }

  *+* {
    margin-top: 0.25rem;
  }

  &__label {
    font-weight: 600;
  }

  &__hint {
    color: $grey;
  }

  &__error {
    color: $red;
    font-weight: 600;
  }

  &__input {
    display: block;
    border-radius: $border-radius;
    border: 2px solid $grey2;
    font-size: 1.2rem;
    padding: 0.75rem;
    color: $black;
    width: 100%;

    &:focus,
    &:active {
      outline: 1px solid $yellow;
      border-color: $yellow;
    }
  }


  &--required label:after {
    content: "*";
    color: $red;
  }
}