html {
  background: $black;
}

* {
  box-sizing: border-box;
  font-family: $p-stack;
}

body {
  margin: 0;
}

p,
li,
label,
legend,
strong {
  color: $black;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: $black;
  font-family: $h-stack;
  margin-bottom: 0;
}

a {
  color: $teal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg)
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

main {
  @include standard-padding;
  background: $white;
}

button {
  @include button;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

tr {
  border-top: 2px solid $grey2;
}

td {}