html {
  background: $black;
}

* {
  box-sizing: border-box;
  font-family: $p-stack;
}

body {
  margin: 0;
}

p,
li,
label,
legend,
strong {
  color: $black;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: $black;
  font-family: $h-stack;
  margin-bottom: 0;
}

a {
  @include link;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg)
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

main {
  @include standard-padding;
  background: $white;
  padding-bottom: 3rem;

  @media screen and (min-width: $breakpoint-m) {
    padding-bottom: 6rem;
  }
}

button {
  @include button;
}

table {
  width: 100%;
  // border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 2px solid $grey2;
}

// tbody tr {}

td {
  border-top: 2px solid $grey2;
  padding: 1rem 2rem 1rem 0;
  text-align: left;
  white-space: nowrap;

  &:last-child:not(:first-child) {
    text-align: right;
    padding: 1rem 0;
  }
}

th {
  padding: 0 2rem 0.5rem 0;
  text-align: left;

  &:last-child:not(:first-child) {
    text-align: right;
    padding: 0 0 0.5rem 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}