.group-field {
  min-height: $checkbox-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 4rem;

  &:first-of-type {
    margin-top: 0.75rem;
  }

  &__label {
    cursor: pointer;
  }

  &__hint {
    margin: 0;
    margin-top: 0.1rem;
    color: $grey;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: $checkbox-size;
    height: $checkbox-size;
    opacity: 0;
  }

  &--checkbox {
    &:focus-within label:before {
      outline: 3px solid $yellow;
      border: none;
    }

    label:before {
      box-sizing: border-box;
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      background-color: $white;
      width: $checkbox-size;
      height: $checkbox-size;
      border: 2px solid $grey2;
      border-radius: $border-radius;
    }

    input {
      &:checked+label {
        &:before {
          background: $teal;
          border-color: $teal;
        }

        &:after {
          box-sizing: border-box;
          position: absolute;
          display: block;
          content: "";
          top: 0;
          left: 0;
          width: $checkbox-size;
          height: $checkbox-size;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 1.5xrem;
          background-image: url("data:image/svg+xml,%3Csvg width='26' height='19' viewBox='0 0 26 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0607 0.43934C25.6464 1.02513 25.6464 1.97487 25.0607 2.56066L9.56066 18.0607C8.97487 18.6464 8.02513 18.6464 7.43934 18.0607L0.93934 11.5607C0.353553 10.9749 0.353553 10.0251 0.93934 9.43934C1.52513 8.85355 2.47487 8.85355 3.06066 9.43934L8.5 14.8787L22.9393 0.43934C23.5251 -0.146447 24.4749 -0.146447 25.0607 0.43934Z' fill='white'/%3E%3C/svg%3E");
        }
      }
    }
  }

  &--radio {
    &:focus-within label:before {
      outline: 3px solid $yellow;
      border: none;
    }

    label:before {
      box-sizing: border-box;
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      width: $checkbox-size;
      height: $checkbox-size;
      border: 2px solid $grey2;
      border-radius: 100%;
    }

    input {
      &:checked+label {
        &:before {
          border-color: $teal;
        }

        $shrink-factor: 0.6rem;

        &:after {
          background: $teal;
          box-sizing: border-box;
          position: absolute;
          display: block;
          content: "";
          top: $shrink-factor;
          left: $shrink-factor;
          width: calc($checkbox-size - $shrink-factor - $shrink-factor);
          height: calc($checkbox-size - $shrink-factor - $shrink-factor);
          border-radius: 100%;
        }
      }
    }
  }

  &--with-hint {
    margin-top: 1rem;

    label {
      font-weight: 600;
    }


  }
}