@mixin standard-padding {
  padding: 1rem;

  @media screen and (min-width: $breakpoint-m) {
    padding: 2rem;
  }
}

@mixin wide-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@mixin mid-container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

@mixin narrow-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@mixin error-text {
  color: $red;
  font-weight: 600;
}

@mixin button {
  display: inline-block;
  position: relative;
  padding: 0.75rem 4rem;
  font-size: 1.2rem;
  background: $teal;
  font-weight: 600;
  color: $white;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: darken($teal, 2);
    text-decoration: none;
    color: $white;
  }

  &:focus,
  &:active {
    text-decoration: none;
    outline: 3px solid $yellow;
    color: $white;
  }

  @media screen and (min-width: $breakpoint-m) {
    width: auto;
  }

  &__icon {
    height: 1.4rem;
    width: 1.4rem;
    position: absolute;
    left: 1rem;
    margin-top: 2.5px;

    // loader
    &--spin {
      animation: spin 0.75s linear infinite;
    }
  }
}

@mixin panel {
  background: lighten($grey2, 11);
  border-radius: $border-radius;
  padding: 1rem;

  @media screen and (min-width: $breakpoint-m) {
    padding: 2rem;
  }
}

@mixin avatar {
  border-radius: 100%;
  width: 50px;
  height: auto;
}

@mixin link {
  color: $teal;
  background: none;
  border: none;
  font-size: inherit;
  padding: 0;
  font-weight: normal;
  border-radius: 0;
  text-align: left;
  display: inline;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    background: none;
    border: none;
    color: $teal;
  }

  &:focus,
  &:active {
    outline: none;
    background-color: $yellow;
    color: $black;
  }
}