.race-banner {
  @include standard-padding;
  box-shadow: 0px 5px 5px $grey2;


  &__inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  img {
    max-height: 100px;
    width: auto;
  }

  span {
    font-family: Futura, sans-serif;
    font-weight: bold;
  }

  @media screen and (min-width: $breakpoint-m) {
    &__inner {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }

    span {
      font-size: 2rem;
      width: 100%;

      &:last-child {
        text-align: right;
      }
    }
  }

}