.container {
  @include container;
}

.side-by-side {
  @media screen and (min-width: $breakpoint-m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    * {
      margin-top: 0;
    }
  }
}

.error {
  color: $red;
  font-weight: 600;
}

.form {
  @include narrow-container;
  margin-bottom: 3rem;

  &>*+* {
    margin-top: 1rem;
  }

  &__footer {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    *:last-child {
      margin-left: auto;
    }
  }
}

.fieldset {
  margin-top: 2rem;

  &>*+* {
    margin-top: 1rem;
  }
}


.centred {
  text-align: center;
}