.container {
  @include wide-container;
}

.narrow-container {
  @include narrow-container;
}


.side-by-side {
  @media screen and (min-width: $breakpoint-m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    * {
      margin-top: 0;
    }
  }
}

.error {
  @include error-text;

  &--panel {
    padding: 0.75rem;
    border-radius: $border-radius;
    background: transparentize($red, 0.9)
  }
}

.form {
  @include narrow-container;
  margin-bottom: 3rem;

  &>*+* {
    margin-top: 2rem;
  }

  &__footer {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    *:last-child {
      margin-left: auto;
    }
  }

  &--payment {
    background: lighten($grey2, 11);
    border: 2px solid $grey2;
    border-radius: $border-radius;
    padding: 1rem;

    @media screen and (min-width: $breakpoint-m) {
      padding: 2rem;
    }
  }

  &--sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.fieldset {
  margin-top: 2rem;

  &>*+* {
    margin-top: 0.5rem;
  }

  legend {
    font-weight: 600;
  }

  &__big-legend {
    font-family: $h-stack;
    font-weight: bold;
    font-size: 1.3rem;
  }
}


.centred {
  text-align: center;
}

.button {
  @include button;
}

.no-results {
  text-align: center;
  margin: 2rem 0 2rem 0;
  font-size: 1.1rem;

  @media screen and (min-width: $breakpoint-m) {
    font-size: 1.2rem;
  }
}