// colours
$black: #0B0C0C;
$grey: #545959;
$grey2: #D8DDDE;
$white: #ffffff;

$teal: #01636A;
$yellow: #dda437;
$red: #921414;

// breakpoints
$breakpoint-m: 500px;

// misc
$border-radius: 5px;
$checkbox-size: 3rem;

// fonts
$p-stack: "Open Sans", sans-serif;
$h-stack: "Futura", sans-serif;